{% extends "layout.html" %}
{% block title %}
  Učastníci
{% endblock %}

{% block participants_menu %}active{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row justify-content-center" >
      <div class="col-12">
          <div class="row mt-5">
              <form method="get" action="/registration/participants" class="col-4">
                  <div class="form-group">
                      <input placeholder="Vyhľadať" class="form-control" name="q" value="{{filter if filter else ''}}">
                  </div>
              </form>
              <div class="col-6 mt-2">
                  <span>Celkova suma na učet:</span> {{paid}}
                  <span>Celkova suma na registrácii:</span> {{on_reg}}
              </div>
          </div>
          <table class="table table-striped table-hover table-sm mt-2 mb-5">
              <thead class="thead-dark">
                {% include "components/participants-headers.html" %}
              </thead>
              <tbody>
                {% if participants != None and participants | count > 0  %}
                    {% for participant in participants %}
                        {% include "components/participants-fields.html" %}
                    {% endfor %}
                {% elif  participants != None and participants | count == 0 %}
                        <tr>
                            <td colspan="13" class="text-center">
                               Žiadny použivateľ nebol nájdený
                            </td>
                        </tr>
                {% else %}
                    <tr>
                        <td colspan="13">
                            <form method="post" action="/sync/download">
                              <div class="text-center pb-2">
                                  <p>Nemáš stiahnute data pre registraciu</p>
                                  <div class="form-group">
                                      <label for="token">Token</label>
                                      <input type="text" required class="token" id="token" name="token">
                                  </div>
                                  <button class="btn btn-primary" type="submit">Stiahnuť Data</button>
                              </div>
                            </form>
                        </td>
                    </tr>
                {% endif %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
{% endblock %}