{% extends "layout.html" %}
{% block title %}
  Stiahnutie dat
{% endblock %}
{% block body %}
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100" >
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <h3>Stiahnutie dát</h3>
          </div>
          <div class="card-body">
            <form method="post" action="/sync/download">
              <div class="text-right">
                <button class="btn btn-primary" type="submit">Stiahnuť</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}