<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Domcek Registracia | {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-slim.min.js') }}"></script>
</head>
<body>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>