{% extends "layout.html" %}
{% block title %}
  Nahrať data
{% endblock %}
{% block upload_menu %} active {% endblock %}
{% block body %}
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" >
      <div class="col-8">
        <div class="card mt-5">
          <div class="card-header">
            <h3>Nahrať data</h3>
          </div>
          <div class="card-body">
            <form method="post" action="/sync/upload">
              <div class="form-group">
                <label>Token</label>
                <input class="form-control" type="text" name="token" required>
              </div>
              <div class="text-right">
                <button class="btn btn-primary" type="submit">Nahrať</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}